DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DB=

RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_HOST=
RABBITMQ_PORT=

HTTP_PORT=

RSS_POLL_INTERVAL=15m

# To add later
# SMTP_*=
# DIGEST_*=
