
<h1>Your Daily Digest - {{ .Date.Format "January 2, 2006" }}</h1>
{{ if .Overview }}<p><em>{{ .Overview }}</em></p>{{ end }}
{{range .Groups}}
    <h2>
        {{ if .Tag }}
            {{.Tag.Name}}
        {{else}}
            Uncategorized
        {{end}}
    </h2>
    {{ if .Summary}}
        <p><em>{{.Summary}}</em></p>
    {{end}}
    {{ range .Articles }}
        <h3>
            <a href="{{.ExternalURL}}">{{ .Title }}</a>
        </h3>
        <p>
            <a href="/api/feedback?article_id={{.ID}}&vote=up&token={{.UpToken}}">👍</a>
            <a href="/api/feedback?article_id={{.ID}}&vote=down&token={{.DownToken}}">👎</a>
        </p>
    {{ end }}
{{ end }}
